<div class="py-3 bg-light container-fluid">
    <div class="row footer-row">
        <div class="col-lg-7 col-sm-12 col-md-12">
            
                <ul class="footer-icons">
                   <li><span><img src="http://techveduat.com/Internal-Project/code/images/phone.png" class="icon-phone"></span><span><a href="tel:+919898989898" target="_blank">+91 9898989898</a></span></li>
                   <li><span><img src="http://techveduat.com/Internal-Project/code/images/location.png" class="icon-address"></span><span>Lorem ipsum dolor sit amet</span></li>
                   
                   <li><span><img src="http://techveduat.com/Internal-Project/code/images/directions.png" class="icon-mail"></span><span><a href="mailto:recomp@fitness.com" target="_blank">recomp@fitness.com</a></span></li>
                </ul>
             
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12">
            <ul class="footer-icons social-share">
                <li><a href="#"><img src="http://techveduat.com/Internal-Project/code/images/facebook.png" class="icon-fb" alt="facebook"></a></li>
                <li><a href="#"><img src="http://techveduat.com/Internal-Project/code/images/twitter.png" class="icon-tw" alt="twitter"></a></li>
                
             </ul>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 social-share">
           
            <ul class="footer-icons pull-right">
               <li><span><a href="#"><img src="http://techveduat.com/Internal-Project/code/images/app-store.png" class="icon-app" alt="App store"></a></span></li>
               <li><span><a href="#"><img src="http://techveduat.com/Internal-Project/code/images/play-store.png" class="icon-store" alt="Play store"></a></span></li>
            </ul>
         </div>
      
    </div>
</div>