<div class="container-fluid" style="margin-top:20px;">
    <div class="col-md-12 pading-bottom-offset-60 fitness">
        <h3>GALLERY</h3>
     </div>
    <div class="row head-tab">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="showall-tab" data-toggle="pill" href="#showall" role="tab" aria-controls="showall" aria-selected="true"> ALL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="Cars-tab" data-toggle="pill" href="#videos" role="tab" aria-controls="videos" aria-selected="false">VIDEOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="City-tab" data-toggle="pill" href="#photos" role="tab" aria-controls="photos" aria-selected="false">PHOTOS</a>
      </li>
    </ul>
    </div>

    <div class="container">
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="showall" role="tabpanel" aria-labelledby="showall-tab">
        <div class="Portfolio"><a href="#!"><img class="card-img video-img" src="http://techveduat.com/Internal-Project/code/images/video1.jpg" alt=""></a></div>
        <div class="Portfolio"><div><img class="card-img" src="http://techveduat.com/Internal-Project/code/images/image-2.jpg" alt=""><div class="desc">INTERIOR GALLERY</div></div></div>
        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://techveduat.com/Internal-Project/code/images/image-3.jpg" alt=""></a><div class="desc">WORKOUT</div></div>
        <div class="Portfolio"><a href="#!"><img class="card-img video-img" src="http://techveduat.com/Internal-Project/code/images/image-4.jpg" alt=""></a><div class="desc">HAMMER - STATE OF ART REQUIREMENT</div></div>
        <div class="Portfolio"><a href="#!"><img class="card-img " src="http://techveduat.com/Internal-Project/code/images/image-5.jpg" alt=""></a><div class="desc">INTERIOR GALLERY</div></div>
        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://techveduat.com/Internal-Project/code/images/image-6.jpg" alt=""></a><div class="desc">WORKOUT</div></div>
           
      </div>
      <div class="tab-pane fade" id="videos" role="tabpanel" aria-labelledby="Cars-tab">
        <div class="Portfolio"><a href="#!"><img class="card-img video-img" src="http://techveduat.com/Internal-Project/code/images/video1.jpg" alt=""></a></div>
      </div>
      <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="City-tab">
        <div class="Portfolio"><div><img class="card-img" src="http://techveduat.com/Internal-Project/code/images/image-2.jpg" alt=""><div class="desc">INTERIOR GALLERY</div></div></div>
        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://techveduat.com/Internal-Project/code/images/image-3.jpg" alt=""></a><div class="desc">WORKOUT</div></div>
        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://techveduat.com/Internal-Project/code/images/image-5.jpg" alt=""></a><div class="desc">INTERIOR GALLERY</div></div>
        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://techveduat.com/Internal-Project/code/images/image-6.jpg" alt=""></a><div class="desc">WORKOUT</div></div>
        <div class="Portfolio"><a href="#!"><img class="card-img" src="http://techveduat.com/Internal-Project/code/images/image-4.jpg" alt=""></a><div class="desc">HAMMER - STATE OF ART REQUIREMENT</div></div>
      </div>
    </div>
    </div>
</div>
    