<!---Banner started-->
<section class="wrap-banner">
    <div class="container">
        <h1>FITNESS</h1>
        <h2>REDEEMED</h2>
        <h4>Now pay per use & gym anytime</h4>
    </div>
   </section>
   <!---Banner ends-->

   <!---Header started-->
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="http://techveduat.com/Internal-Project/code/images/logo.jpg" alt=""></a>
    <button class="navbar-toggler toggle-btn" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <form class="ml-auto form-inline my-2 my-lg-0">
        <ul class="navbar-nav mt-2 mt-lg-0 header-list">
            <li class="nav-item active">
              <a class="nav-link" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT FITNESS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">BENEFITS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">GALLERY</a>
              </li>
          </ul>
      </form>
    </div>
  </nav>
   <!---header ends-->

   